<mat-sidenav-container class="cw-sidenav-container">
  <mat-sidenav #sidenav align="start" [mode]="'over'" [opened]="false" class="cw-sidenav">
<!-- Sidenav content -->
    <div>
      <div fxLayout="column" fxLayoutalign="center center" class="cw-sidenav-user-area">
        <div>
          <mat-icon class="cw-sidenav-avatar" color="primary">person</mat-icon>
        </div>
        <div>
          <span class="cw-sidenav-text">Ekoodi Summer school</span>
          <br>
          <span>Juuso Lonka</span>
          <br>
          <span>Olli Jokinen</span>
      </div>
      </div>
    </div>
    <span>Sidenav content</span>
  </mat-sidenav>
  <div>
  <!-- App content -->
  <mat-toolbar color="primary">
    <!-- Toolbar -->
    <button mat-icon-button (click)="sidenav.toggle()" class="mat-slider">
      <mat-icon class="mat-18">menu</mat-icon>
    </button>
    <span>Contact application</span >
  </mat-toolbar>
    <div class="cw-app-container">
      <!-- App -->
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>

